site_name: Adrea's Notebook and Journal
site_author: Adrea Snow
site_url: http://adreasnow.com/

theme:
  name: "material"
  custom_dir: theme
  static_templates:
    - 404.html
  language: en
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - toc.integrate
    - search.suggest
    - search.share

  palette:
    primary: pink
    accent: pink
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    favicon: "favicon.ico"

plugins:
  - search

extra:
  search:
    language: "en"
  manifest: manifest.webmanifest
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/adreasnow
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/adreasnow
  analytics:
    provider: google
    property: G-WBEK0XMNCH

markdown_extensions:
  - smarty
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.gemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      toc_depth: 3
  - fontawesome_markdown
  - mdx_truly_sane_lists
  - lightgallery

extra_javascript:
  - mathjaxhelper.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - extra.css
  - https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css
